@mixin font-face ($font-famil, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-famil;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin reset-ul {
  list-style-type: none;
  padding: 0;
}
