/* здесь используйте глобальные переменные */

$primary-font: "Lato", "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;

// Colors

$basic-color: #ffffff;
$contrast-color: #000000;
$special-contrast-color: #111111;
$basic-bg-color: #68b738;
$second-bg-color: #5eaa2f;
$secondary-contrast-color: #f2f2f2;
$special-secondary-contrast-color: #eaeaea;
$special-dark-secondary-contrast-color: #444444;
$special-dark-third-contrast-color: #222222;
$border-color: #d9d9d9;
$btn-bg-color: #666666;
$secondary-btn-bg-color: #d3d3d3;
// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
