/* button */
.button {
  font-size: 16px;
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.button--main {
  color: $basic-color;
  background-color: $basic-bg-color;
}

.button--second {
  color: $special-dark-secondary-contrast-color;
  background-color: $secondary-contrast-color;
}

.button--to-look {
  color: $contrast-color;
  position: relative;

  &::before {
    content: "";
    width: 24px;
    height: 12px;
    position: absolute;
    top: 6px;
    right: -39px;
    background-image: url("../../icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    width: 22px;
    height: 2px;
    position: absolute;
    top: 11px;
    right: -37px;
    background-color: $contrast-color;
  }

  &:hover {
    &::before {
      right: -47px;
      transition: 0.5s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
