.catalog-card {
  border-top: 1px solid $third-border-color;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
}

.catalog-card--to-all {
  text-align: center;
  border-bottom: 1px solid $third-border-color;
  display: block;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#icon-plus");
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.catalog-card__link {
  text-decoration: none;
  color: $special-dark-third-contrast-color;
}

.catalog-card__title {
  font-size: 16px;
  font-family: $second-font;
  line-height: 20px;
  font-weight: 400;
  color: $special-contrast-color;
  text-transform: uppercase;
}

.catalog-card__properties {
  font-size: 12px;
  font-family: $primary-font;
  line-height: 16px;
  font-weight: 400;
  color: $special-dark-secondary-contrast-color;
}

.catalog-card__button {
  grid-column: 1 / -1;
  padding: 10px;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    border: none;
  }
}
