.contacts--catalog {
  background-color: #f2f2f2;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contacts__text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $special-contrast-color;
  text-transform: uppercase;
  margin: 27px 0 26px 20px;
}

.contacts__address {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $special-dark-secondary-contrast-color;
  margin: 26px 20px 26px 0;
}

.contacts__street {
  margin: 0;
}

.contacts__city {
  margin: 0;
}

.contacts__map-wrapper {
  border: none;
  display: block;
  width: 100%;
  height: 362px;
}

.contacts__yandex-map {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}

.contacts__map {
  display: none;
}

.contacts__map-wrapper--nojs {
  .contacts__yandex-map {
    display: none;
  }

  .contacts__map {
    display: block;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 33px 70px;
    justify-items: stretch;
  }

  .contacts__text {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }

  .contacts__address {
    text-align: right;
    font-size: 16px;
    margin: 26px 0;
  }

  .contacts__city {
    margin-top: 20px;
  }

  .contacts__map-wrapper {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    grid-template-rows: 95px 1fr 105px;
  }

  .contacts__wrapper {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: 0;
    background-color: #ffffff;
    max-width: 565px;
    z-index: 2;
    padding: 0 80px;
    gap: 91px;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map-wrapper {
    grid-row: 1 / -1;
    grid-column: 1 / 4;
    z-index: 1;
  }
}
