/* copyright */
.copyright {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#icon-html-academy");
    mask-repeat: no-repeat;
    background-color: $btn-bg-color;
  }

  &:hover::after {
    background-color: $basic-bg-color;
  }
}

.copyright__text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $special-dark-secondary-contrast-color;
}
