.example {
  background-color: $special-secondary-contrast-color;
  padding-bottom: 20px;
}

.example__wrapper {
  margin: 20px;
}

.example__title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $contrast-color;
  margin: 0;
  padding-top: 25px;
}

.example__data-list {
  @include reset-ul;
  display: grid;
  grid-template-columns: repeat(auto-fit, 124px);
  justify-content: center;
  gap: 32px;
  margin: 20px 0 34px;
}

.example__cost {
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $contrast-color;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  width: 280px;
  height: 256px;
  margin: 20px auto;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $basic-color;
    position: relative;
    padding-bottom: 10px;

    &::before {
      content: "";
      background-color: $special-secondary-contrast-color;
      height: 462px;
      bottom: 40px;
      display: block;
      position: absolute;
      width: 100%;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__wrapper {
    padding-bottom: 10px;
  }

  .example__text {
    margin: 60px 0 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__data-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__data-list {
    max-width: 370px;
  }

  .example__cost {
    font-size: 20px;
  }

  .example__cost-name {
    display: block;
    text-align: right;
  }

  .example__cost-value {
    display: block;
    text-align: right;
  }

  .example__slider {
    width: 560px;
    height: 512px;
    margin-top: 99px;
    margin-bottom: 101px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    @include max-size;
    display: flex;
    align-items: end;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .example::before {
    bottom: 0;
  }

  .example__wrapper-text {
    position: relative;
    padding-bottom: 55px;
  }

  .example__title {
    max-width: 100%;
    margin-bottom: 146px;
  }

  .example__text {
    max-width: 436px;
    margin: 60px 0 69px;
  }

  .example__data-wrapper {
    display: block;
  }

  .example__data-list {
    max-width: 436px;
    justify-content: left;
  }

  .example__cost {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 436px;
  }

  .example__cost-name {
    text-align: left;
  }

  .example__cost-value {
    text-align: left;
  }

  .example__slider {
    margin-bottom: 77px;
    margin-right: 0;
    margin-top: 0;
  }
}
