/* how-it-works */

.how-it-works__title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $contrast-color;
}

.how-it-works__list {
  @include reset-ul;
}
