.indicator__value {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $contrast-color;
  text-transform: uppercase;
  text-align: center;
  margin: 14px auto 18px;
  padding: 14px;
  border: 1px solid $second-border-color;
  border-radius: 3px;
}

.indicator__name {
  font-family: $primary-font;
  background-color: $special-secondary-contrast-color;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 0 10px;
  margin-top: -27px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95px;
}

@media (min-width: $tablet-width) {
  .indicator__name {
    background-color: $basic-color;
  }
}

@media (min-width: $desktop-width) {
  .indicator__name {
    background-color: $special-secondary-contrast-color;
  }
}
