.logo {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $desktop-width) {
  .logo__text {
    width: 118px;
    height: 21px;
    margin-left: 0;
  }
}
