/* main-catalog */
.main-catalog__title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $contrast-color;
  margin: 27px 20px;
}

.main-catalog__list {
  @include reset-ul;
}

@media (min-width: $tablet-width) {
  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
  }

  .main-catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__wrapper {
    @include max-size;
  }
}
