.main-header__wrapper {
  margin: 13px 20px 10px;
  display: flex;
  align-items: center;
}

.main-header__logo {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;

  .logo__text {
    margin-left: calc(50% - 68px);
    align-self: center;
  }
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    margin: 0;
    align-items: flex-start;
  }

  .main-header__logo {
    .logo__text {
      margin-left: calc(50% - 59px);
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    grid-template-columns: auto 1fr;
    justify-content: start;
    gap: 14px;

    .logo__text {
      margin-left: 0;
    }
  }
}
