/* main-nav */
.main-nav {
  background-color: $basic-color;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../../icons/stack.svg#nav-toggle");
  background-repeat: no-repeat;
  background-color: $basic-color;
}

.main-nav__toggle--active {
  background-image: url("../../icons/stack.svg#nav-toggle-active");
}

.main-nav__list {
  @include reset-ul;
}

.main-nav__item {
  font-size: 20px;
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;
  color: $contrast-color;
  background-color: $basic-color;
}

.main-nav__link {
  color: $contrast-color;
  text-decoration: none;
}
