.main-footer {
  background-color: $secondary-contrast-color;
}

.main-footer__contacts {
  background-color: $basic-color;
}

.main-footer__wrapper {
  margin: 20px 20px 40px;
}

.main-footer__logo {
  display: block;
  text-align: center;
  padding: 20px 20px 15px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social {
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 128px 1fr 168px;
    margin: 30px 30px 50px;
    padding-top: 13px;
  }

  .main-footer__logo {
    border-bottom: none;
    padding: 20px 0 0;
  }

  .main-footer__social {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    @include max-size;
    padding-top: 22px;

    .logo__text {
      width: 128px;
      height: 24px;
      margin-left: 0;
    }
  }
}
