.programs__list {
  @include reset-ul;
}

.programs__item {
  background-color: $secondary-contrast-color;
  position: relative;
  padding: 20px;
  margin: 20px;
}

.programs__item--slim::before {
  content: "";
  width: 50px;
  height: 53px;
  position: absolute;
  top: auto;
  left: auto;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
}

.programs__item--pro::before {
  content: "";
  width: 67px;
  height: 50px;
  position: absolute;
  top: auto;
  left: 11px;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
}

.programs__item-title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $contrast-color;
  text-transform: uppercase;
  margin: 0 0 29px 90px;
}

.programs__item-text {
  border-bottom: 1px solid $border-color;
  padding-bottom: 23px;
}
