/* promotions */
.promotions__title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $contrast-color;
}

.promotions__text {
  font-size: 16px;
  font-family: $second-font;
  line-height: 24px;
  font-weight: 400;
  color: $contrast-color;
}
