/* subscribe-form */
.subscribe-form__email {
  font-size: 20px;
  font-family: $second-font;
  line-height: 30px;
  font-weight: 400;
  color: $special-dark-secondary-contrast-color;
  text-transform: uppercase;
}
